name: CI

on:
  pull_request:
    branches: ["main"]

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "6.0.x"

      - run: ./Build.ps1
        shell: pwsh
